<nav class="navbar navbar-light bg-light ">
  <a class="navbar-brand" href="#">
    <img src="https://www.flaticon.com/svg/static/icons/svg/110/110040.svg" width="30" height="30" alt="">
    <a class="btn btn-gradient" href="<%= new_cocktail_path %>">Add a new cocktail</a>
  </a>
</nav>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1547127796-06bb04e4b315?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80);">
  <h1>Cocktails</h1>
  <div class="container">
    <div class="d-flex justify-content-between">
          <% @cocktails.each do |cocktail| %>
            <div class="card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1592483648228-b35146a4330c?ixlib=rb-1.2.1&auto=format&fit=crop&w=966&q=80)"><%= link_to cocktail.name, cocktail_path(cocktail), id: 'link-color' %></div>
          <% end %>
    </div>
  </div>
</div>


