.banner {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 40px 0;
  text-align: center;
  height: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.card-cocktail {
  background-size: cover;
  background-position: center;
  height: 180px;
  width:180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#link-color {
  color: white;
  text-decoration: none;
}



